.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 8px;
  width: calc(100% - 18px); /* 100% - 8px padding left/right - 1px border left/right */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px;
  background-color: #28a745; /* A green color for signup */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #218838;
}